export(cem)
export(L1.meas)
export(L1.profile)
export(imbalance)
export(shift.cem)
export(relax.cem)
export(relax.plot)
export(imbspace)
export(cemspace)
export(pscoreSelect)
export(spacegraph)
export(search.match)
export(k2k)
export(pair)
export(att)
#export(psm)
#export(mdm)
#export(spacegraph.plot)
#export(mdiff)
#export(mdisc)
#export(mdisc2)
#export(mdistfun)
#export(mdistfun2)
export(combine.spacegraphs)
S3method(plot, L1profile)
S3method(plot, relax.cem)
S3method(plot, cem.att)
S3method(plot, imbalance.space)
S3method(plot, spacegraph)
S3method(print, imbalance)
S3method(print, L1.meas)
S3method(print, cem.match)
S3method(print, cem.match.list)
S3method(print, cem.att)
S3method(print, selected.cem)
S3method(summary, cem.att)
# imports
import("tcltk")
importFrom("combinat",combn, nCm)
import("lattice")
import("randomForest")
importFrom("nlme",lmeControl, lme, random.effects)
importFrom("MatchIt",matchit)
importFrom(grDevices, nclass.scott, rgb,   nclass.Sturges, nclass.FD, xy.coords)
importFrom(stats, na.omit, runif, dist, terms, predict, median, weighted.mean, var, pnorm, update, coef, fitted, t.test, xtabs, logLik, deviance, pchisq, rmultinom, dpois, chisq.test, model.frame, model.matrix, as.formula, qnorm, glm, binomial, sd, cov, printCoefmat )
importFrom(utils, txtProgressBar, setTxtProgressBar)
importFrom(graphics, hist, par, plot, box, axis,  points, text,  identify, lines, mtext, abline)







